.container-reset {
    display: flex;
    border-radius: 10px;
    height: 90vh;
    width: 90vw;
    background-color: #272727;
}

.img-reset {
    display: absolute;
    padding: 0;
    margin-top: 5%;
    margin-right: 15%;
    height: 800px;
    width: 1300px;

    -webkit-animation: scale-up-center 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.input-reset{
    border: transparent;
    opacity: 60%;
    text-indent: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    margin-top: 15px;
    border-color: #b5b5b5;
    height: 40px;
    width: 296px;
    outline: none;
}

.input-reset:focus {
    opacity: 100%;
    outline: none;
}

.label-reset {
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-style: 900;
    margin-bottom: 45px;
}

.messege-email {
    width: 250px;
    font-size: 18px;
    margin-left: 3px;
    margin-bottom: 10px;
    text-align: center;
    color: #bab8b8;
}

.back {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-style: normal;
}
.back:hover {
    color: #cccaca;
}
